*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1F1F1F;
}

img{
    width: 100%;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter-div{
    width: 40rem;
    border: 1px solid gray;
    padding: 1rem;
    background-color: blue;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.counter-div > *{
    margin-bottom: 2rem;
}

.count{
    font-size: 4rem;
}

.buttons button{
    padding: 1rem;
    margin: 0 1rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

button.subtract{
    background-color: orangered;
}

button.reset{
    background-color: #fff;
    color: #000;
}

button.add{
    background-color: green;
}